:root {
    --page-background: silver;
    --forestGreen: darkolivegreen;
    --mainColor: silver;
    --redBox: 1px solid red;
    --blueBox: 1px solid blue;
    --greenBox: 1px solid green;
    --whiteBox:  1px solid white;
    --greyBox:  1px solid lightgrey;
    --cardWidth: 27%;
    --cardHeight: 300px;
    --cardBorder: 2px dotted white;
    --forestText: 'Solway', sans-serif;
    --bodyText: 16px 'Lato', sans-serif;
    --headerTextPad: 0 6vw;
    --headerImgPad: 5.75vw;
    --headerLineHeight: 50px;

}

* {
    margin: 0;
    padding: 0;
}

h1{
   font-family: var(--forestText);
   font-weight: bold;
}
.row {
    display: flex;
}

#navBar {
    background-color: var(--forestGreen);
    /* border: var(--redBox); */
    min-height: 400px;
}

.box1 {
    /* background-color: rgba(0, 255, 128, 0.1); */
    border: var(--redBox);
    /* height: 300px; */
}
 .margin {
    /* background-color: rgba(0, 255, 128, 0.1); */
 }

/* nav ul { */
    border: var(--whiteBox);
    /* display: inline-block; */
    text-align: left;
    list-style-type: none;
    /* color: red; */
}

nav ul li {
}


/* JumboTron */

.container {

 }

#header {

 }

 #header ul {
    /* border: var(--greenBox); */
    display: inline-block;
    text-align: left;
    list-style-type: none;
 }

 #topContact {
   color: var(--forestGreen);
 }

 .topCont {
    /* text-align: left;   */
 }


 .headerCont img {
    /* margin: 0 100% 0 0; */
    /* border: var(--redBox); */
 }

 #aboutTab, #projectsTab, #skillsTab, #backtoTop {
    background-color: var(--forestGreen); 
 }

 #aboutText, #skillsList {
   color: var(--forestGreen);
 }


#card01 {

}

#card01, #card02, #card03 {
  height: var(--cardHeight);
}

.card-img {
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  /* border: var(--blueBox); */
}

.card-img-overlay {
  /* border: var(--redBox); */
  height:35% !important;
  background-color: rgba(85, 107, 47, 0.8);
  cursor: pointer;
  box-sizing: border-box !important;
  overflow: hidden !important;
}

#cardTab a{
text-decoration: none;
color: white;
}
.card-title {
  /* color: var(--forestGreen); */
}

.card-text {
  color: darkorange;
}

.fillFig {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#skills {
  height: 400px;
}

#skillsTab {
  border: var(--redBox);
  color: red;

 }

 #skillsList {
  border: var(--blueBox);

 }


 #backtoTop {
   border: var(--redBox);
 }

 #footer {

 }

 #copyRight {
   border: var(--blueBox);
 }


