:root {
    --page-background: silver;
    --forestGreen: darkolivegreen;
    --forestGreenBox: 1px solid darkolivegreen;
    --tabHeight: 100px;
    --cardHeight: 150px;
    --skillsHeight: auto;
    --portraitSize: 200px;


    --mainColor: silver;
    --redBox: 1px solid red;
    --blueBox: 1px solid blue;
    --greenBox: 1px solid green;
    --whiteBox:  1px solid white;
    --greyBox:  1px solid lightgrey;
    --cardWidth: 27%;
    
    --cardBorder: 2px dotted white;
    --forestText: 'Solway', sans-serif;
    --bodyText: 16px 'Lato', sans-serif;
    --headerTextPad: 0 6vw;
    --headerImgPad: 5.75vw;
    --headerLineHeight: 50px;

}


h1{
   font-family: var(--forestText);
   font-weight: bold;
}
.row {
    display: flex;
}

#navBar {
    background-color: var(--forestGreen);
    /* border: var(--redBox); */
    min-height: 400px;
}

.box1 {
    /* background-color: rgba(0, 255, 128, 0.1); */
    border: var(--redBox);
    /* height: 300px; */
}


/* nav ul { */
    border: var(--whiteBox);
    /* display: inline-block; */
    text-align: left;
    list-style-type: none;
    /* color: red; */
}

nav ul li {
}

nav a {
  text-decoration: none !important;
}

nav a:hover {
  color: darkorange !important;
}

/* JumboTron */

.container {

 }

#header {

 }

 #header ul {
    /* border: var(--greenBox); */
    display: inline-block;
    text-align: left;
    list-style-type: none;
 }

 #topContact {
   color: var(--forestGreen);
 }

 .topCont {
    /* text-align: left;   */
 }


 .headerCont img {
    /* margin: 0 100% 0 0; */
    /* border: var(--redBox); */
 }

.img-thumbnail {
  background-image: url(../images/20221119_john-walton_self-portrait_104e.jpg);
  height: var(--portraitSize);
  width: var(--portraitSize);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
} 

 #aboutTab, #projectsTab, #skillsTab, #backtoTop, #contactTab {
    background-color: var(--forestGreen);
    height: var(--tabHeight); 
 }

 #aboutText, #skillsList {
   color: var(--forestGreen);
 }


#card01 {
  /* border: var(--blueBox); */
}

#card01, #card02, #card03, #card04, #card05 {
  height: var(--cardHeight);
}

.cardBox {
  position: relative;

}

.card-img {
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  border: var(--forestGreenBox);
}

.card-img-overlay {
  /* border: var(--redBox); */
  height:35% !important;
  background-color: rgba(85, 107, 47, 0.8);
  cursor: pointer;
  box-sizing: border-box !important;
  overflow: hidden !important;
  /* z-index: 5; */
}

.card-img-overlay:hover {
  background-color: rgba(85, 107, 47, 0.9);
}

#cardTab a{
text-decoration: none;
color: white;
}

.card-title {
  /* color: var(--forestGreen); */
}

.card-text {
  color: darkorange;
}

.fillFig {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#skills {
/* margin-left: 0px; */
}

#skillsTab {
  /* border: var(--redBox); */

  
}

#skillsList {
/* border: var(--blueBox); */
  height: var(--skillsHeight);

}

#lowerContacts {
  /* background-color: var(--forestGreen);   */
  /* height: 100px; */
  /* border: var(--redBox); */
  /* width: 100%; */
}

#footerNav {
  background-color: var(--forestGreen);

 }

 #footerNav li a:hover {
  color: darkorange !important;
}

#backtoTop {
  /* border: var(--redBox); */
}

#backtoTop:hover {
  box-shadow: 2px 10px 20px grey;
  filter: drop-shadow(2px 10px 8px grey);
}

#footer {
  /* border: var(--redBox); */
}

#copyRight {
  /* border: var(--redBox); */
}

/* RESPONSIVE MEDIA QUERIES */

 /* Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap */
 
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
  /* :root {--cardHeight: 150px;} */
  
 }
 
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
  :root {
    --cardHeight: 250px;
    --skillsHeight: 450px;
    --tabHeight: auto;
  }
#contactTab {
  height:150px;
  border-right: 1px solid white;
}

#footerNav ul li {border-top: 0 !important;}
  /* #footerNav {border-top: 0 !important;} */
 }
 
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
  :root {--cardHeight: 300px;
  --portraitSize:300px;
  }
  }


 
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
  /* :root {--cardHeight: 300px;} */
 }



 
